.detail {
  width: 100%;
  height: 100%;

  overflow-y: auto;

  background: #11111b;
  color: white;

  padding-bottom: 24px;
}

/* 헤더 */

.detailHeader {
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 12px;
}

.detailHeader h2 {
  font-size: 16px;
  font-weight: 600;
}

.iconBtn {
  background: none;
  border: none;

  color: white;
  font-size: 24px;

  cursor: pointer;
}

/* 슬라이더 */

.characterSwiper {
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
}

.slideImage {
  width: 100%;
  height: 400px;

  object-fit: cover;

  border-radius: 5px;
}

/* 점 */

.swiper-pagination {
  position: relative !important;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;

  background: #666;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 22px;
  border-radius: 999px;

  background: #6c4ef6;
}

/* 정보 */

.infoSection {
  padding: 16px;
}

.infoSection h3 {
  font-size: 16px;
  font-weight: 700;

  margin-bottom: 8px;
}

.infoSection p {
  font-size: 13px;
  color: #b7b7b7;

  line-height: 1.5;
}

.tags {
  margin-top: 10px;

  font-size: 12px;
  color: #8b8b8b;
}

/* 상세설명 */

.description {
  padding: 0 16px;
}

.description h4 {
  margin-bottom: 12px;
  font-size: 15px;
}

.description p {
  font-size: 13px;
  color: #bdbdbd;

  line-height: 1.7;
}

/* 버튼 */

.bottomActions {
  display: flex;
  gap: 10px;

  padding: 24px 16px 0;

  margin-bottom: 25px;
}

.bookmarkBtn {
  width: 52px;
  height: 52px;

  border: none;
  border-radius: 10px;

  background: #2b2b35;
  color: #8b8b8b;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;

  cursor: pointer;
}

.bookmarkBtn.active {
  background: #6c4ef6;
  color: white;
}

.chatBtn {
  flex: 1;

  border: none;
  border-radius: 10px;

  background: #6c4ef6;
  color: white;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
}